<div class="wrapper">
  <div class="card">
    <div class="card-wrapper">
      <h1>Team Generator</h1>
      <div class="list">
        <ul>
          <li *ngFor="let item of members">{{ item }}</li>
        </ul>
      </div>
      <div class="add_member">
        <input
          #addMemberInput
          type="text"
          placeholder="Name"
          [value]="newMember"
          (input)="onInput(addMemberInput.value)"
        />
        <button (click)="addMember()">Add</button>
      </div>

      <div class="set_member_count">
        <input
          #setTeamsCount
          [value]="numberOfTeams"
          type="text"
          placeholder="# of Teams"
          (input)="onNumTeamsInput(setTeamsCount.value)"
        />
        <button
          (click)="setNumberOfTeams()"
          [disabled]="!numberOfTeams"
        >
          Generate
        </button>
      </div>

      <div *ngIf="errorMsg" class="error">
        <span>{{ errorMsg }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="teams.length">
    <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    ></app-team>
  </div>
</div>
